


<form action="/Department/store">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" name="Name" class="form-control" id="Name" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description </label>
        <input type="text" name="Description" class="form-control" id="Description" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>